.grid-item {
  background: #229fd9ff;
}

.grid-container {
  height: calc(100vh - 1em);
}

.grid-container {
   display: grid;
   grid-gap: 15px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas: "header header header"
    "navigation main sidebar"
    "footer footer footer";
}

.grid-container header { grid-area: header; }
.grid-container main { grid-area: main; }
.grid-container nav { grid-area: navigation; }
.grid-container aside { grid-area: sidebar; }
.grid-container footer { grid-area: footer; }

@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header"
      "navigation navigation"
      "main sidebar"
      "footer footer";
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header"
      "navigation"
      "main"
      "sidebar"
      "footer";
  }
}
